<div id="header">
	<div class="container">
		<h1><a href="" to="/home" id="logo"><img class="logo" src="images/virtualahan-logo-white.png" alt=""></a></h1>
		<div id="banner">
			<div class="container">
				<section>
					<header class="major">
						<h2>Welcome Admin</h2>
					</header>
				</section>
			</div>
		</div>
	</div>
</div>

<div id="main" class="wrapper style1 contact" add-data>
	<section id="service" class="container">
		
		<section class="aboutText">
			<header class="major title">
				<form  action="/check" method="post">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<% if flash[ :danger ] %>
					<div class="alert alert-danger">
						<strong>Invalid Pass Key</strong>
					</div>
					<% end %>
					<section class="row no-collapse-1 aboutText">
						<section class="6u">
							<input class="inputs" name="username"  value="" placeholder="Username" type="text" required autofocus>
						</section>
						<section class="6u">
							<input class="inputs" name="password"  value="" placeholder="Password" type="password" required>
						</section>
						<section class="12u">
							<input value="login" class="button sendButton" type="submit">
						</section>
					</section>
				</form>
			</header>
		</section>
		
	</section>
</div>