<div id="header">
	<div class="container">
		
		
		<!-- The Modal -->
		
		
		<h1><a href="" to="/home" id="logo"><img class="logo" src="images/virtualahan-logo-white.png" alt=""></a></h1>
		
		
		
		<!-- Nav -->
		<nav id="nav" >
			<ul add-data>
				<li><a href="#needVa" class="smoothScroll" ><h3>Need Va</h3></a></li>
				<li><a href="#needJob" class="smoothScroll" ><h3>Need Job</h3></a></li>
				<li><a href="" to="/logout"><h3>Logout</h3></a></li>
			</ul>
		</nav>
		<!-- Banner -->
		<div id="banner">
			<div class="container">
				<section>
					<header class="major">
						<h2>Dash Board</h2>
					</header>
				</section>
			</div>
		</div>
	</div>
</div>
<div id="main" class="container myDashboard wrapper style1" add-data>
	<div id="needVa">
		<header class="major title">
			<h2>Needs Assistant</h2>
		</header>
		<table>
			<tr>
				<th>Date Created</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Help Me With</th>
				<th>Available at</th>
				<th>Status</th>
				<th></th>
				<th></th>
			</tr>
			<% @assistant.each do |data| %>
			<tr>
				<td><%= data.created_at.strftime("%d %b. %Y")%></td>
				<td><%= data.firstname%></td>
				<td><%= data.lastname%></td>
				<td><%= data.help_me_with%></td>
				<td><%= data.available_at%></td>
				<td><%= data.status%></td>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<% if flash[ :danger ] %>
				<div class="alert alert-danger">
					<strong>Invalid Pass Key</strong>
				</div>
				<% end %>
				<td><input ng-click="openDetails(<%= data.id %>, 'assistant','#viewDetails')" value="show" class="button showButton" type="submit"></td>
				<td><a href="" ng-click="delete(<%= data.id %>, 'assistant')" ><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
			</tr>
			<% end %>
		</table>
	</div>
	<div id="needJob">
		<header class="major title">
			<h2>Needs A Job</h2>
		</header>
		<table>
			<tr>
				<th>Date Created</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>To Learn</th>
				<th>Orientation Date</th>
				<th>Status</th>
				<th></th>
				<th></th>
			</tr>
			<% @job.each do |data| %>
			<tr>
				<td><%= data.created_at.strftime("%d %b. %Y")%></td>
				<td><%= data.firstname%></td>
				<td><%= data.lastname%></td>
				<td><%= data.to_learn%></td>
				<td><%= data.orientation_date%></td>
				<td><%= data.status%></td>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<% if flash[ :danger ] %>
				<div class="alert alert-danger">
					<strong>Invalid Pass Key</strong>
				</div>
				<% end %>
				<td><input ng-click="openDetails(<%= data.id %>, 'job', '#viewDetails2')" value="show" class="button showButton" type="submit"></td>
				<td><a href="" ng-click="delete(<%= data.id %>, 'job')"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
			</tr>
			<% end %>
		</table>
	</div>
	
	<div id="viewDetails" class="modal" >
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">×</span>
			<section class="12u">
				<h2 class="major va2" >Applicant # {{assistantDetails.id}}</h2>
				<ul>
					<li><label>Firstname: <h3>{{assistantDetails.firstname}}</h3></label></li>
					<li><label>Lastname: <h3>{{assistantDetails.lastname}}</h3></label></li>
					<li><label>Company: <h3>{{assistantDetails.company}}</h3></label></li>
					<li><label>Email: <h3>{{assistantDetails.email}}</h3></label></li>
					<li><label>Contact: <h3>{{assistantDetails.contact}}</h3></label></li>
					<li><label>Help me with: <h3>{{assistantDetails.help_me_with}}</h3></label></li>
					<li><label>Available: <h3>{{assistantDetails.available_at}}</h3></label></li>
					<li><label>Message: <h3>{{assistantDetails.message}}</h3></label></li>
				</ul>
				<form  ng-submit="sendReply(assistantDetails.email, assistantDetails.firstname, assistantDetails.id, 'assis')" method="post">
					<section class="row no-collapse-1 aboutText">
						<section class="12u">
							<textarea ng-model="message.body" class="inputs" placeholder="Message" required></textarea>
						</section>
						<section id="spinner" class="spinner 12u" style="display:none;">
							<img id="img-spinner" src="images/loading.gif" alt="Loading"/>
						</section>
						<section class="12u">
							<input value="Reply" class="button sendButton" type="submit">
						</section>
					</section>
				</form>
			</section>
		</div>
	</div>
	<div id="viewDetails2" class="modal" >
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">×</span>
			<section class="12u">
				<h2 class="major job2" >Applicant # {{assistantDetails.id}}</h2>
				<ul>
					<li><label>Firstname: <h3>{{assistantDetails.firstname}}</h3></label></li>
					<li><label>Lastname: <h3>{{assistantDetails.lastname}}</h3></label></li>
					<li><label>Email: <h3>{{assistantDetails.email}}</h3></label></li>
					<li><label>Contact: <h3>{{assistantDetails.contact}}</h3></label></li>
					<li><label>I want to learn: <h3>{{assistantDetails.to_learn}}</h3></label></li>
					<li><label>Orientation Date: <h3>{{assistantDetails.orientation_date}}</h3></label></li>
					<li><label>Message: <h3>{{assistantDetails.message}}</h3></label></li>
				</ul>
				<form  ng-submit="sendReply(assistantDetails.email, assistantDetails.firstname, assistantDetails.id, 'job')" method="post">
					<section class="row no-collapse-1 aboutText">
						<section class="12u">
							<textarea ng-model="message.body" class="inputs" placeholder="Message" required></textarea>
						</section>
						<section id="spinner2" class="spinner 12u" style="display:none;">
							<img id="img-spinner" src="images/loading.gif" alt="Loading"/>
						</section>
						<section class="12u">
							<input value="Reply" class="button sendButton" type="submit">
						</section>
					</section>
				</form>
			</section>
		</div>
	</div>
</div>