<!-- Header -->
<div id="header">
	<div class="container">
		
		
		<!-- The Modal -->
		
		
		<h1><a href="" to="/home" id="logo"><img class="textImage" src="images/text.png" alt=""></a></h1>
		
		
		
		<!-- Nav -->
		<nav id="nav">
			<ul>
				
				<li><a href="" to="/about"><h3 class="navlist">About</h3></a></li>
				<li><a href="" to="/pricing"><h3 class="navlist">Pricing</h3></a></li>
				<li><a href="" to="/training"><h3 class="navlist">Training</h3></a></li>
			</ul>
		</nav>
		<!-- Banner -->
		<div id="banner">
			<div class="container">
				<section>
					<header class="major">
						<h2 class="mytitulo">About</h2>
					</header>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- Featured -->
<div id="main" class="wrapper style1">
	<section id="service" class="container">
		
		<section class="aboutText">
			<h2>Virtualahan  is  a  social  enterprise  that  equip  people  with  skills  to  become  globally  competitive virtual assistants then match them with businesses to help them in their operations.  We enable people to work online as virtual assistants through skills training and employment support while helping entrepreneurs and corporations grow their businesses.</h2>
			<h2>Virtualahan  is  taking  advantage  of  the  growing  outsourcing  industry  in  the  Philippines  to optimize  employment  opportunities  for  Filipinos  especially to  people  who  cannot  get  a  regular job because of their health condition or disability. Our beneficiaries gets all our services for free through our scholarship program.</h2>
			<h2>Virtualahan  has  established  partnerships  with  the  Association  of  Differently  Abled  Persons (ADAP), Behind the Rolling Chair Organization, and others. It is also supported by organizations like The DO School in Germany, Bank of the Philippine Islands Foundation, Ateneo Center for Social Entrepreneurship, and Watson Institute Philippines.</h2>
			<header class="major title">
				<h2>What we do? </h2>
			</header>
			<h2>We provide trained virtual assistants (VA) to all types of business all over the world who took the smart move of outsourcing their tasks to a virtual employee. Our VAs helps businesses in</h2>
		</section>
		<div class="row no-collapse-1 aboutList">
			<section class="6u">
				<ul class="checkList">
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> A dedicated business-class virtual assistant </h4></li>
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> Choice of services based on company needs</h4></li>
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> Daily Report</h4></li>
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> Email and Phone Support  </h4></li>
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> Time Tracking (Upon Request) </h4></li>
				</ul>
			</section>
			<section class="6u">
				
				
				<ul class="checkList" >
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> Cancel anytime</h4></li>
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> No hidden fees, or add ons</h4></li>
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> Special offers and discounts from our partners</h4></li>
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> Vetting and confidentiality agreements </h4></li>
					<li><h4><i class="fa fa-check" aria-hidden="true"></i> 100% satisfaction guarantee</h4></li>
				</ul>
			</section>
		</div>
		<section class="aboutText">
			<h2>Virtualahan also provides a one month intensive skills training to people who want to work in the outsourcing industry. The course is divided into two stages:</h2>
			<h3>1.   The  training phase  where  we  combine  guided  and  self-learning  to  teach  you  skills  and tools needed to start working online as a virtual assistant.</h3>
			<h3>2.   The challenge phase where we connect you to a potential client for an unpaid on the job training while giving you challenges to increase your potential to get hired.</h3>
		</section>
	</section>
</div>
<div id="main" class="wrapper style1 team">
	<section id="service" class="container">
		<header class="major title">
			<h2>The Team</h2>
		</header>
		<section class="row no-collapse-1 ">
			<section class="2u">
				<img class="teamImage" src="images/team/Ryan.jpg" alt="">
				<ul class="icons">
					<li>
						<a target="_blank" href="https://www.facebook.com/rdgersava" class="fa fa-facebook rounded"></a>
					</li>
					<li>
						<a target="_blank" href="https://plus.google.com/u/0/+NayrGersava " class="fa fa-google-plus rounded"></a>
					</li>
					<li>
						<a target="_blank" href="https://ph.linkedin.com/in/rdgersava" class="fa fa-linkedin rounded"></a>
					</li>
				</ul>
			</section>
			<section class="4u">
				<h2>RYAN GERSAVA, Founder and Executive Director</h2>
				
				<h3>Ryan is a youth leader, community organizer, and a social entrepreneur.  His passion for social change fuels him to build this social venture with his team through the help of organizations like The DO School in Germany, Watson Institute-Philippines, and the Bank of the Philippine Islands Foundation. </h3>
			</section>

			<section class="2u">
				<img class="teamImage" src="images/team/Josh.jpg" alt="">
				<ul class="icons">
					<li>
						<a target="_blank" href="https://www.facebook.com/Jdawa123" class="fa fa-facebook rounded"></a>
					</li>
					<li>
						<a target="_blank" href="https://plus.google.com/u/0/109743398979997817991" class="fa fa-google-plus rounded"></a>
					</li>
					<li>
						<a target="_blank" href="https://ph.linkedin.com/in/joshgersava" class="fa fa-linkedin rounded"></a>
					</li>
				</ul>
			</section>
			<section class="4u">
				<h2>JOSH GERSAVA, Co-founder and Director of Operations </h2>
				
				<h3>Josh has more than six years’ experience in handling business operations for different startups in United States. His degree in Computer Technology combined with an entrepreneurial mindset made him the first success story of Virtualahan.</h3>
			</section>
		</section>

		<section class="row no-collapse-1 ">
			<section class="2u">
				<img class="teamImage" src="images/team/Rose.jpg" alt="">
				<ul class="icons">
					<li>
						<a target="_blank" href="https://www.facebook.com/rose.gersava" class="fa fa-facebook rounded"></a>
					</li>
					<li>
						<a target="_blank" href="https://plus.google.com/u/0/105429864125010060475/posts" class="fa fa-google-plus rounded"></a>
					</li>
					<li>
						<a target="_blank" href="https://ph.linkedin.com/in/rose-gersava-67841177" class="fa fa-linkedin rounded"></a>
					</li>
				</ul>
			</section>
			<section class="4u">
				<h2>ROSE GERSAVA, Community Builder and Chief of Marketing</h2>
				
				<h3>Rose is a licensed nurse who has first-hand experience of people losing job opportunities because of their medical conditions. She ventured into online jobs four years ago and has been working as a marketing strategist for several companies in United States and Australia since then. </h3>
			</section>
			<section class="2u">
				<img class="teamImage" src="images/team/ross.jpg" alt="">
				<ul class="icons">
					<li>
						<a target="_blank" href="https://www.facebook.com/emanross" class="fa fa-facebook rounded"></a>
					</li>
					<!-- <li>
							<a target="_blank" href="https://plus.google.com/u/0/105429864125010060475/posts" class="fa fa-google-plus"></a>
					</li>
					<li>
							<a target="_blank" href="https://ph.linkedin.com/in/rose-gersava-67841177" class="fa fa-linkedin"></a>
					</li> -->
					
				</ul>
			</section>
			<section class="4u">
				<h2>EMAN ROSS VASQUEZ, Chief Financial Officer</h2>
				
				<h3>Eman has a bachelor's degree in Accountancy and Business Administration major in Management. He worked as volunteer accountant for SULADS and Mountain View College in the past.</h3>
			</section>
		</section>
	
		<section class="row no-collapse-1 ">
			<section class="2u">
				<img class="teamImage" src="images/team/dim.jpg" alt="">
				<ul class="icons">
					<li>
						<a target="_blank" href="https://www.facebook.com/dimful" class="fa fa-facebook rounded"></a>
					</li>
					<li>
						<a target="_blank" href="https://plus.google.com/u/0/102379501547364562489" class="fa fa-google-plus rounded"></a>
					</li>
				</ul>
			</section>
			<section class="4u">
				<h2>DIMFUL D. BENANTOLIS, Chief Technology Officer </h2>
				<h3>Dimful has a bachelor's degree in Information Technology. His expertise in making algorithms made him won several pair programming competitions while working as a back-end developer at Webnified. He specialize in using ruby on rails.</h3>
			</section>
			
		</section>
	</section>
</div>