<!-- Header -->
<div id="header">
	<div class="container">
		
		
		<!-- The Modal -->
		
		
		<h1><a href="" to="/home" id="logo"><img class="textImage" src="images/text.png" alt=""></a></h1>
		
		
		
		<!-- Nav -->
		<nav id="nav">
			<ul>
				
				<li><a href="" to="/about"><h3 class="navlist">About</h3></a></li>
				<li><a href="" to="/pricing"><h3 class="navlist">Pricing</h3></a></li>
				<li><a href="" to="/training"><h3 class="navlist">Training</h3></a></li>
			</ul>
		</nav>
		<!-- Banner -->
		<div id="banner">
			<div class="container">
				<section>
					<header class="major">
						<h2 class="mytitulo">Contact Us</h2>
					</header>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- Featured -->
<div id="main" class="wrapper style2">
	<section id="service" class="container">
		
		<section class="aboutText">
			<header class="major title">
				<h2>Stay Connected</h2>
				
				<section class="row no-collapse-1 ">
					<section class="6u">
						<a target="_blank" href="https://www.facebook.com/virtualahan/"><i class="fa fa-facebook fa-5 square" aria-hidden="true"></i></a>
					</section>
					<section class="6u">
						<a target="_blank" href="https://plus.google.com/u/0/107641000266116795507/posts"><i class="fa fa-google-plus fa-5 square" aria-hidden="true"></a></i>
					</section>
				</section>
				
			</header>
		</section>
		
	</section>
</div>
<div id="main" class="wrapper style1 contact" add-data>
	<section id="service" class="container">
		
		<section class="aboutText">
			<header class="major title">
				<h2>Message us now</h2>
				<form  ng-submit="sendMail()" method="post">
					<section class="row no-collapse-1 aboutText">
						<section class="6u">
							<input ng-model="message.name" class="inputs" type="text" placeholder="Full Name" required></input>
						</section>
						<section class="6u">
							<input ng-model="message.email" class="inputs" type="email" placeholder="Email" required></input>
						</section>
						<section class="12u">
							<textarea ng-model="message.body" class="inputs" placeholder="Message" required></textarea>
						</section>
						<section id="spinner" class="spinner 12u" style="display:none;">
							<img id="img-spinner" src="images/loading.gif" alt="Loading"/>
						</section>
						<section class="12u">
							<input value="Send" class="button sendButton" type="submit">
						</section>
					</section>
				</form>
			</header>
		</section>
		
	</section>
</div>