<!-- Header -->
<div id="header">
	<nav id="nav">
		
		<a href="" to="/home"><h3 class="vlogo"><img class="vimage" src="../images/virtualahan-logo-white.png"> Virtualahan</h3></a>
		
		<ul class="navright">
			<li><a href="" to="/about"><h3 class="navlist">About</h3></a></li>
			<li><a href="#service" class="smoothScroll"><h3 class="navlist">Services</h3></a></li>
			<li><a href="" to="/pricing"><h3  class="navlist">Pricing</h3></a></li>
			<li><a href="" to="/training"><h3 class="navlist">Training</h3 ></a></li>
			<li><a href="#signUp" class="smoothScroll"><h3 class="navlist">Hire Now</h3></a></li>
		</ul>
	</nav>
	<div class="container">
		
		<!-- Banner -->
		<div id="banner">
			<div class="container">
				<section>
					<h2 class="font2">Reliable <label class="font1"> Virtual Staff </label> to help you grow your <label class="font1"> Business.</label></h2>
					<a id="myBtn" href="" class="button va">Let's Talk</a>
					<!-- <a id="myBtns" href="" class="button job">I need a Job</a> -->
					<section class="freetrial">7 days free trial <label class="firstclient">for our first time Clients</label></section>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- Featured -->
<div id="main" class="wrapper style1">
	<section  class="container">
		<header class="title visionheader">
			<img class="visionmage" src="../images/virtualahan-logo-white.png">
		</header>
		<h1 class="visiontitle">Virtualahan's</h1>
		<h1 class="visiontitle">Vision</h1>
		<section class="visionspan">
			<span>
				<label class="spantitle">Virtualahan</label>  is helping all types of businesses saves time, money, and energy by providing reliable virtual staff who undergoes a one month intensive training before placement.
			</span>
		</section>
		<hr class="visionhr">
	</section>
</div>
<div id="service" class="wrapper style1">
	<section id="service" class="container">
		<header class="major title">
			<h1 class="visiontitle">We can help you with</h1>
		</header>
		<div class="row no-collapse-1">
			<section class="3u">
				<a  class="image feature"><img class="checkImage helpimage" src="images/help/admin_support.png" alt=""></a>
				<h2 class="major helptitle" >Admin Support</h2>
				<ul class="mylist">
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Email Management</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Calendar Management</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Lead Generation</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Content Management</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Data Entry</h5></li>
				</ul>
				<section class="startsection">
					<a href="" class="button medium getstarted" id="myBtn1">Get Started</a>
				</section>
			</section>
			<section class="3u">
				<a  class="image feature"><img class="checkImage helpimage" src="images/help/customer_support.png" alt=""></a>
				<h2 class="major helptitle" >Customer Service</h2>
				<ul class="mylist leftline" >
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Email Marketing</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Chat Support</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Newsletter Management</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Receptionist</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Data Mining</h5></li>
				</ul>
				<section class="startsection">
					<a href="" class="button medium getstarted" id="myBtn2">Get Started</a>
				</section>
			</section>
			<section class="3u">
				<a  class="image feature"><img class="checkImage helpimage" src="images/help/social_media.png" alt=""></a>
				<h2 class="major helptitle" >Social Media</h2>
				<ul class="mylist leftline" >
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Creating Strategy</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Post Scheduling</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Content Sourcing</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Account Monitoring</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Community Building</h5></li>
				</ul>
				<section class="startsection">
					<a href="" class="button medium getstarted" id="myBtn3">Get Started</a>
				</section>
			</section>
			<section class="3u">
				<a  class="image feature"><img class="checkImage helpimage" src="images/help/boardclappers.png" alt=""></a>
				<h2 class="major helptitle" >Video Editing</h2>
				<ul class="mylist leftline" >
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> 2D Animation</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Cutting/Trimming</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Infomercials</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> YouTube Videos</h5></li>
					<li><h5 class="helptext"><!-- <i class="fa fa-check" aria-hidden="true"></i> --> Advance Editing</h5></li>
				</ul>
				<section class="startsection">
					<a href="" class="button medium getstarted" id="myBtn4">Get Started</a>
				</section>
			</section>
		</div>
	</section>
</div>
<!-- Main -->
<!-- <div id="main" class="wrapper style2">
	<section class="container">
		<header class="major title">
			<h1 class="visiontitle">Meet your awesome staffs</h1>
		</header>
		<div class="row no-collapse-1 steps">
			
			<section class="2u">
				<a  class="image feature"><img class="checkImage" src="images/Step1.png" alt=""></a>
				<section class="staffname">Geoff Diaz</section>
				<section class="staffwork">Admin Support</section>
			</section>
			<section class="2u">
				<a  class="image feature"><img class="checkImage" src="images/Step2.png" alt=""></a>
				<section class="staffname">Geoff Diaz</section>
				<section class="staffwork">Admin Support</section>
			</section>
			<section class="2u">
				<a  class="image feature"><img class="checkImage" src="images/Step3.png" alt=""></a>
				<section class="staffname">Geoff Diaz</section>
				<section class="staffwork">Admin Support</section>
			</section>
			<section class="2u">
				<a  class="image feature"><img class="checkImage" src="images/Step1.png" alt=""></a>
				<section class="staffname">Geoff Diaz</section>
				<section class="staffwork">Admin Support</section>
			</section>
			<section class="2u">
				<a  class="image feature"><img class="checkImage" src="images/Step2.png" alt=""></a>
				<section class="staffname">Geoff Diaz</section>
				<section class="staffwork">Admin Support</section>
			</section>
			<section class="2u">
				<a  class="image feature"><img class="checkImage" src="images/Step3.png" alt=""></a>
				<section class="staffname">Geoff Diaz</section>
				<section class="staffwork">Admin Support</section>
			</section>

		</div>
	</section>
</div> -->
<div id="main" class="wrapper style1">
	<section class="container">
		<header class="major title">
			<h1 class="visiontitle">Lets hear it from our clients</h1>
		</header>
		<div class="row no-collapse-1">
			<section class="6u">
				<a  class="image feature"><img class="checkImage clientimage" src="images/2.jpg" alt=""></a>
			</section>
			<section class="6u">
				<a  class="image feature"><img class="checkImage clientimage" src="images/5.jpg" alt=""></a>
			</section>
			<section class="6u">
				<a 	class="image feature"><img class="checkImage clientimage" src="images/6.png" alt=""></a>
			</section>
			<section class="6u">
				<a  class="image feature"><img class="checkImage clientimage" src="images/3.jpg" alt=""></a>
			</section>
		</div>
	</section>
</div>
<div id="main" class="wrapper style2">
	<section class="container">
		<header class="major title">
			<h1 class="visiontitle">We are supported by</h1>
		</header>
		<div class="row no-collapse-1">
			<section class="3u">
				<a 	class="image feature"><img class="checkImage" src="images/Supreme.jpg" alt=""></a>
			</section>
			<section class="3u">
				<a  class="image feature"><img class="checkImage" src="images/acsent.png" alt=""></a>
			</section>
			<section class="3u">
				<a  class="image feature"><img class="checkImage" src="images/watson.png" alt=""></a>
			</section>
			<section class="3u">
				<a  class="image feature"><img class="checkImage" src="images/support1.jpg" alt=""></a>
			</section>
		</div>
	</section>
</div>
<div id="main" class="wrapper style1">
	<section class="container">
		<div class="row no-collapse-1 virabout">
			<section class="4u">
				<img class="checkImage aboutimage" src="images/virtualahan-logo-white.png" alt="">
			</section>
			<section class="8u">
				<h1 class="abouttitle">About</h1>
				<h1 class="abouttitle">Virtualahan</h1>
				<section class="aboutspan">
					<span>
						<label class="spantitle">Virtualahan</label>  is a social enterprise that enables people to work online as virtual staff through skills training and employment support. We equip people with skills to become globally competitive virtual assistants then match them with clients to help them in their business operations.
					</span>
				</section>
			</section>
			
		</div>
	</section>
</div>
<div id="main" class="wrapper style2" add-data>
	<section id="signUp" class="container">
		<header class="major title needtitle">
			<h1 class="visiontitle">What do you need?</h1>
			<a  href="" class="button needbutton" ng-class="yes" ng-click="setShowneed(0)"><img class="needicon" src="images/help/support.png"> Virtual Assistant</a>
			<a  href="" class="button needbutton" ng-class="no" ng-click="setShowneed(1)"><img class="needicon" src="images/help/job.png"> Awesome Clients</a>
		</header>
		<section class="ineedva"  ng-if="showneed == 0">

				<h2 class="major va2" >I need a Reliable Virtual Staff</h2>
				<form ng-submit="addAssistant( )" method="post">
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Field of Expertise</label>
						</section>
						<section class="12u formcolumn">
							<select  class="dropDown" ng-model="assistant.help_me_with">
								<option value="">Select Here</option>
								<option value="Admin Tasks">Admin Tasks</option>
								<option value="Customer Service">Customer Service</option>
								<option value="Social Media Marketing">Social Media Marketing</option>
								<option value="Video Editing and Animation">Video Editing and Animation</option>
								<option value="E-commerce">E-commerce</option>
								<option value="Sales and Marketing">Sales and Marketing</option>
							</select>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>I need my VA to be available:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn form1">
							<select  class="dropDown" ng-model="assistant.available_at">
								<option value="">Select Here</option>
								<option value="Immediately">Immediately</option>
								<option value="In 2 Weeks">In 2 Weeks</option>
								<option value="In 1 month">In 1 month</option>
							</select>
						</section>
						<section class="6u formcolumn form1">
							<input ng-model="assistant.other" class="modalInput inputText"  type="text"  value="" placeholder="Other">
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Company:</label>
						</section>
						<section class="12u formcolumn">
							<input ng-model="assistant.company" type="text" class="inputText" required required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Firstname:</label>
						</section>
						<section class="6u formcolumn">
							<label>Lastname:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="assistant.firstname" type="text" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="assistant.lastname" type="text" class="inputText" required required></input>
						</section>
					</section>
					
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Email:</label>
						</section>
						<section class="6u formcolumn">
							<label>Contact Number:</label>
						</section>
						
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="assistant.email" type="email" class="inputText" required required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="assistant.contact" type="text" class="inputText" required required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Message:</label>
						</section>
						<section class="12u formcolumn">
							<textarea ng-model="assistant.message" class="inputText" required required></textarea>
						</section>
					</section>
					<section id="spinner" class="spinner 12u" style="display:none;">
							<img id="img-spinner" src="images/loading.gif" alt="Loading"/>
						</section>
					<input value="send" class="button job mybutton" type="submit">
				</form>
		</section>
		<section class="6u ineedva"  ng-if="showneed == 1">
				<h2 class="major va2" >I need a Job</h2>
				<form ng-submit="addJob( )" method="post">
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>I want to learn skills in:</label>
						</section>
						<section class="6u formcolumn ">
							<label>Attend free online orientation on:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						
						<section class="6u formcolumn">
							<select  class="dropDown" ng-model="job.to_learn">
								<option value="">Select Here</option>
								<option value="Admin Support">Admin Support</option>
								<option value="Customer Service">Customer Service</option>
								<option value="Social Media Marketing">Social Media Marketing</option>
								<option value="Video Editing and Animation">Video Editing and Animation</option>
								<option value="E-commerce">E-commerce</option>
								<option value="Sales and Marketing">Sales and Marketing</option>
							</select>
						</section>
						<section class="6u formcolumn">
							<md-content>
							<md-datepicker ng-model="job.orientation_date" md-date-filter="weekEnds" md-placeholder="Enter date"></md-datepicker>
							</md-content>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Firstname:</label>
						</section>
						<section class="6u formcolumn">
							<label>Lastname:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="job.firstname" type="text" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="job.lastname" type="text" class="inputText" required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Email:</label>
						</section>
						<section class="6u formcolumn">
							<label>Contact Number:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="job.email" type="email" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="job.contact" type="text" class="inputText" required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Message:</label>
						</section>
						<section class="12u formcolumn">
							<textarea ng-model="job.message" class="inputText" required></textarea>
						</section>
					</section>
					<section id="spinner" class="spinner 12u" style="display:none;">
							<img id="img-spinner" src="images/loading.gif" alt="Loading"/>
						</section>
					<input value="send" class="button va mybutton" type="submit">
				</form>
		</section>
	</section>
</div>

<div id="myModal" class="modal" add-data>
	<!-- Modal content -->
	<div class="modal-content mymodal">
		<span class="close">×</span>
		<section class="ineedva"  ng-if="showneed == 0">

				<h2 class="major va2" >I need a Reliable Virtual Staff</h2>
				<form ng-submit="addAssistant( )" method="post">
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Field of Expertise</label>
						</section>
						<section class="12u formcolumn">
							<select  class="dropDown" ng-model="assistant.help_me_with">
								<option value="">Select Here</option>
								<option value="Admin Tasks">Admin Tasks</option>
								<option value="Customer Service">Customer Service</option>
								<option value="Social Media Marketing">Social Media Marketing</option>
								<option value="Video Editing and Animation">Video Editing and Animation</option>
								<option value="E-commerce">E-commerce</option>
								<option value="Sales and Marketing">Sales and Marketing</option>
							</select>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>I need my VA to be available:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn form1">
							<select  class="dropDown" ng-model="assistant.available_at">
								<option value="">Select Here</option>
								<option value="Immediately">Immediately</option>
								<option value="In 2 Weeks">In 2 Weeks</option>
								<option value="In 1 month">In 1 month</option>
							</select>
						</section>
						<section class="6u formcolumn form1">
							<input ng-model="assistant.other" class="modalInput inputText"  type="text"  value="" placeholder="Other">
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Company:</label>
						</section>
						<section class="12u formcolumn">
							<input ng-model="assistant.company" type="text" class="inputText" required required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Firstname:</label>
						</section>
						<section class="6u formcolumn">
							<label>Lastname:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="assistant.firstname" type="text" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="assistant.lastname" type="text" class="inputText" required required></input>
						</section>
					</section>
					
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Email:</label>
						</section>
						<section class="6u formcolumn">
							<label>Contact Number:</label>
						</section>
						
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="assistant.email" type="email" class="inputText" required required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="assistant.contact" type="text" class="inputText" required required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Message:</label>
						</section>
						<section class="12u formcolumn">
							<textarea ng-model="assistant.message" class="inputText" required required></textarea>
						</section>
					</section>
					<input value="send" class="button job mybutton" type="submit">
				</form>
		</section>
	</div>
</div>
<div id="myModal2" class="modal" add-data>
	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">×</span>
		<section class="6u ineedva"  ng-if="showneed == 1">
				<h2 class="major va2" >I need a Job</h2>
				<form ng-submit="addJob( )" method="post">
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>I want to learn skills in:</label>
						</section>
						<section class="6u formcolumn ">
							<label>Attend free online orientation on:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						
						<section class="6u formcolumn">
							<select  class="dropDown" ng-model="job.to_learn">
								<option value="">Select Here</option>
								<option value="Admin Support">Admin Support</option>
								<option value="Customer Service">Customer Service</option>
								<option value="Social Media Marketing">Social Media Marketing</option>
								<option value="Video Editing and Animation">Video Editing and Animation</option>
								<option value="E-commerce">E-commerce</option>
								<option value="Sales and Marketing">Sales and Marketing</option>
							</select>
						</section>
						<section class="6u formcolumn">
							<md-content>
							<md-datepicker ng-model="job.orientation_date" md-date-filter="weekEnds" md-placeholder="Enter date"></md-datepicker>
							</md-content>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Firstname:</label>
						</section>
						<section class="6u formcolumn">
							<label>Lastname:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="job.firstname" type="text" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="job.lastname" type="text" class="inputText" required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Email:</label>
						</section>
						<section class="6u formcolumn">
							<label>Contact Number:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="job.email" type="email" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="job.contact" type="text" class="inputText" required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Message:</label>
						</section>
						<section class="12u formcolumn">
							<textarea ng-model="job.message" class="inputText" required></textarea>
						</section>
					</section>
					<input value="send" class="button va mybutton" type="submit">
				</form>
		</section>
	</div>
</section>
</div>
</div>