 <div id="header">
	<div class="container">
		
		
		<!-- The Modal -->
		
		
		<h1><a href="" to="/home" id="logo"><img class="textImage" src="images/text.png" alt=""></a></h1>
		
		
		
		<!-- Nav -->
		<nav id="nav">
			<ul>
				
				<li><a href="" to="/about"><h3 class="navlist">About</h3></a></li>
				<li><a href="" to="/pricing"><h3 class="navlist">Pricing</h3></a></li>
				<li><a href="" to="/training"><h3 class="navlist">Training</h3></a></li>
			</ul>
		</nav>
		<!-- Banner -->
		<div id="banner">
			<div class="container">
				<section>
					<header class="major">
						<h2>About</h2>
					</header>
				</section>
			</div>
		</div>
	</div>
</div>