<!-- Header -->
<div id="header">
	<div class="container">
		
		
		<!-- The Modal -->
		
		
		<h1><a href="" to="/home" id="logo"><img class="textImage" src="images/text.png" alt=""></a></h1>
		
		
		
		<!-- Nav -->
		<nav id="nav">
			<ul>
				
				<li><a href="" to="/about"><h3 class="navlist">About</h3></a></li>
				<li><a href="" to="/pricing"><h3 class="navlist">Pricing</h3></a></li>
				<li><a href="" to="/training"><h3 class="navlist">Training</h3></a></li>
			</ul>
		</nav>
		<!-- Banner -->
		<div id="banner">
			<div class="container">
				<section>
					<header class="major">
						<h2 class="mytitulo">Pricing</h2>
					</header>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- Featured -->
<div id="main" class="wrapper style2">
	<section id="service" class="container">
		<header class="major title">
			<img class="headImage" src="images/price.png" alt="">
		</header>
		<div class="row no-collapse-1">
			
			<section class="3u priceCol">
				<ul class="checkList">
					<li><h2> 40 HOUR PLAN </h2></li>
					<li><h1> $300 </h1></li>
					<li><h3> Monthly</h3></li>
					<li><h3> Membership</h3></li>
					<li><a id="myBtn1" href="" class="button va">Get Started</a></li>
				</ul>
			</section>
			
			<section class="3u priceCol">
				<ul class="checkList" >
					<li><h2> 80 HOUR PLAN</h2></li>
					<li><h1> $500  </h1></li>
					<li><h3> Monthly</h3></li>
					<li><h3> Membership </h3></li>
					<li><a id="myBtn3" href="" class="button va">Get Started</a></li>
				</ul>
			</section>
			<section class="3u priceCol">
				<ul class="checkList">
					
					<li><h2> 120 HOUR PLAN</h2></li>
					<li><h1> $850  </h1></li>
					<li><h3> Monthly  </h3></li>
					<li><h3> Membership </h3></li>
					<li><a id="myBtn2" href="" class="button va">Get Started</a></li>
				</ul>
			</section>
			<section class="3u priceCol">
				<ul class="checkList" >
					<li><h3 class="plan">CUSTOMIZED PLAN</h3></li>
					<li><h1> $$ </h1></li>
					<li><h3> *Team of VA</h3></li>
					<li><h3> *Special Projects</h3></li>
					<li><a id="myBtn" href="" class="button va">Get Started</a></li>
				</ul>
			</section>
		</div>
	</section>
</div>
<div id="main" class="wrapper style1">
	<section id="service" class="container">
		<header class="major title">
			<h2>All plans include:</h2>
		</header>
		<div class="row no-collapse-1">
			<section class="6u">
				<ul class="checkList">
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> A dedicated business-class virtual assistant </h3></li>
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> Choice of services based on company needs</h3></li>
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> Daily Report</h3></li>
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> Email and Phone Support  </h3></li>
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> Time Tracking (Upon Request) </h3></li>
				</ul>
			</section>
			<section class="6u">
				
				
				<ul class="checkList" >
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> Cancel anytime</h3></li>
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> No hidden fees, or add ons</h3></li>
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> Special offers and discounts from our partners</h3></li>
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> Vetting and confidentiality agreements </h3></li>
					<li><h3><i class="fa fa-check" aria-hidden="true"></i> 100% satisfaction guarantee</h3></li>
				</ul>
			</section>
		</div>
	</section>
</div>
<!-- Main -->
<div id="myModal" class="modal" add-data>
	<!-- Modal content -->
	<div class="modal-content mymodal">
		<span class="close">×</span>
		<section class="ineedva">

				<h2 class="major va2" >I need a Reliable Virtual Staff</h2>
				<form ng-submit="addAssistant( )" method="post">
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Field of Expertise</label>
						</section>
						<section class="12u formcolumn">
							<select  class="dropDown" ng-model="assistant.help_me_with">
								<option value="">Select Here</option>
								<option value="Admin Tasks">Admin Tasks</option>
								<option value="Customer Service">Customer Service</option>
								<option value="Social Media Marketing">Social Media Marketing</option>
								<option value="Video Editing and Animation">Video Editing and Animation</option>
								<option value="E-commerce">E-commerce</option>
								<option value="Sales and Marketing">Sales and Marketing</option>
							</select>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>I need my VA to be available:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn form1">
							<select  class="dropDown" ng-model="assistant.available_at">
								<option value="">Select Here</option>
								<option value="Immediately">Immediately</option>
								<option value="In 2 Weeks">In 2 Weeks</option>
								<option value="In 1 month">In 1 month</option>
							</select>
						</section>
						<section class="6u formcolumn form1">
							<input ng-model="assistant.other" class="modalInput inputText"  type="text"  value="" placeholder="Other">
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Company:</label>
						</section>
						<section class="12u formcolumn">
							<input ng-model="assistant.company" type="text" class="inputText" required required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Firstname:</label>
						</section>
						<section class="6u formcolumn">
							<label>Lastname:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="assistant.firstname" type="text" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="assistant.lastname" type="text" class="inputText" required required></input>
						</section>
					</section>
					
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Email:</label>
						</section>
						<section class="6u formcolumn">
							<label>Contact Number:</label>
						</section>
						
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="assistant.email" type="email" class="inputText" required required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="assistant.contact" type="text" class="inputText" required required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Message:</label>
						</section>
						<section class="12u formcolumn">
							<textarea ng-model="assistant.message" class="inputText" required required></textarea>
						</section>
					</section>
					<input value="send" class="button job mybutton" type="submit">
				</form>
		</section>
	</div>
</div>