<!-- Header -->
<div id="header">
	<div class="container">
		
		
		<!-- The Modal -->
		
		
		<h1><a href="" to="/home" id="logo"><img class="textImage" src="images/text.png" alt=""></a></h1>
		
		
		
		<!-- Nav -->
		<nav id="nav">
			<ul>
				
				<li><a href="" to="/about"><h3 class="navlist">About</h3></a></li>
				<li><a href="" to="/pricing"><h3 class="navlist">Pricing</h3></a></li>
				<li><a href="" to="/training"><h3 class="navlist">Training</h3></a></li>
			</ul>
		</nav>
		<!-- Banner -->
		<div id="banner">
			<div class="container">
				<section>
					<header class="major">
						<h2 class="mytitulo">Training</h2>
					</header>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- Featured -->
<div id="main" class="wrapper style2">
	<section id="service" class="container">
		<header class="major title">
			<h2>Learn the following skills</h2>
		</header>
		<div class="row no-collapse-1">
			
			<div class="4u">
				<section class="box">
					<img class="checkImage" src="images/courses/sales and telemarketing.png" alt="">
					<h3>Sales and Marketing  </h3>
					<p>Be a call center agent at home! Make money by speaking English fluently. The course will train you on how to use American English in doing sales and marketing, customer service, market research, and product advertising. You will also be exposed to a series of exercises in telemarketing, public speaking, transcribing, and personal branding. </p>
					<a href="" class="button medium" id="myBtn1">ENROLL NOW</a>
				</section>
			</div>
			<div class="4u">
				<section class="box">
					<img class="checkImage" src="images/courses/gen va and smm.png" alt="">
					<h3>General Virtual Assistant and Social Media Marketing</h3>
					<p>Learn the basics skills of a general virtual assistant. You will be trained in doing admin support, customer service, social media marketing, data mining, lead generation and so much more. The course will equip you with skills on how to support an entrepreneur in their daily business operations.</p>
					<a href="" class="button medium" id="myBtn2">ENROLL NOW</a>
				</section>
			</div>
			<div class="4u">
				<section class="box">
					<img class="checkImage" src="images/courses/e-commerce and seo.png" alt="">
					<h3>E-Commerce and SEO</h3>
					<p>Get ready to learn how Amazon, E-bay, Etsy, Shopify and other E-commerce platform works. You will learn the secrets on how to manipulate these platforms from our experienced E-commerce managers. It covers topics on product listing, managing customer reviews, optimizing sales, product inventory, and so much more. You can also learn the fundamentals of Search Engine Optimization and be the next keyword master for companies in Australia, United States, and Canada.</p>
					<a href="" class="button medium" id="myBtn3">ENROLL NOW</a>
				</section>
			</div>
		</div>
		<div class="row no-collapse-1">
			<div class="4u">
				<section class="box box wow bounceInUp">
					<img class="checkImage" src="images/courses/web dev.png" alt="">
					<h3>Web Development and Design </h3>
					<p>Build your own website using WordPress and design it using Adobe Photoshop. You will learn how to create professional websites even if you have zero IT background. We will teach you with basics of HTML, CSS and web design. </p>
					<a href="" class="button medium" id="myBtn4">ENROLL NOW</a>
				</section>
			</div>
			<div class="4u">
				<section class="box box wow bounceInUp">
					<img class="checkImage" src="images/courses/video editing and animation.png" alt="">
					<h3>Video Editing and Animation </h3>
					<p>Learn the skills on how to use video editing and animation tools like Adobe Premiere, PowToon, Corel Video Studio, and Sony Vegas. After the course, you will join an elite group of artists that offers video editing services which is one of the highest paying jobs online. </p>
					<a href="" class="button medium" id="myBtn5">ENROLL NOW</a>
				</section>
			</div>
			<div class="4u">
				<section class="box box wow bounceInUp">
					<img class="checkImage" src="images/courses/online tutorial.png" alt="">
					<h3>Online Tutorial</h3>
					<p>We will prepare you to start your own online ESL business! Our experienced instructors will walk you through the process of teaching English online. We will review basic concepts, discover techniques, and learn new strategies to help a Korean, Japanese, Chinese, and Middle Eastern students improve their English. </p>
					<a href="" class="button medium" id="myBtn6">ENROLL NOW</a>
				</section>
			</div>
		</div>
	</section>
</div>

<div id="myModal" class="modal" add-data>
	<!-- Modal content -->
	<div class="modal-content mymodal">
		<span class="close">×</span>
		<section class="ineedva">
				<h2 class="major va2" >I need a Job</h2>
				<form ng-submit="addJob( )" method="post">
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>I want to learn skills in:</label>
						</section>
						<section class="6u formcolumn ">
							<label>Attend free online orientation on:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						
						<section class="6u formcolumn">
							<select  class="dropDown" ng-model="job.to_learn">
								<option value="">Select Here</option>
								<option value="Admin Support">Admin Support</option>
								<option value="Customer Service">Customer Service</option>
								<option value="Social Media Marketing">Social Media Marketing</option>
								<option value="Video Editing and Animation">Video Editing and Animation</option>
								<option value="E-commerce">E-commerce</option>
								<option value="Sales and Marketing">Sales and Marketing</option>
							</select>
						</section>
						<section class="6u formcolumn">
							<md-content>
							<md-datepicker ng-model="job.orientation_date" md-date-filter="weekEnds" md-placeholder="Enter date"></md-datepicker>
							</md-content>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Firstname:</label>
						</section>
						<section class="6u formcolumn">
							<label>Lastname:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="job.firstname" type="text" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="job.lastname" type="text" class="inputText" required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<label>Email:</label>
						</section>
						<section class="6u formcolumn">
							<label>Contact Number:</label>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="6u formcolumn">
							<input ng-model="job.email" type="email" class="inputText" required></input>
						</section>
						<section class="6u formcolumn">
							<input ng-model="job.contact" type="text" class="inputText" required></input>
						</section>
					</section>
					<section class="row no-collapse-1 form">
						<section class="12u formcolumn">
							<label>Message:</label>
						</section>
						<section class="12u formcolumn">
							<textarea ng-model="job.message" class="inputText" required></textarea>
						</section>
					</section>
					<input value="send" class="button va mybutton" type="submit">
				</form>
		</section>
		</div>
	</section>
	</div>
</div>