.logo{
width: 350px;
}
.va{
/*background-color: #CB4332 !important;*/
background-color: #3B7FF0 !important;
/*margin: 0px 50px 0px 5px;*/
border-bottom: 15px solid transparent;
border-left: 15px solid White;
	font-family: ThirdFont;
}
.job{
    background-color: #3B7FF0 !important;
	border-bottom: 15px solid transparent;
	border-left: 15px solid White;
	font-family: ThirdFont;
}
.checkList{
	text-align: left;
}
.checkImage{
width: 60% !important;
margin: 0px auto;
}
.signUpPart{
background-color: #081F35 !important;
background-image: url(../../images/starfield.png) !important;
color: white;
}
.va2{
	margin-bottom: 50px;
}
.job2{
background-color: #1E1E4C !important;
border-bottom: 15px solid transparent;
border-left: 15px solid White;
}
.form{
font-weight: bold !important;
font-size: 18px;
margin: 5px !images;
margin-left: 0px !important;
}
.dropDown{
	width: 100%;
    padding: 10px;
    background: white;
    border-radius: 5px;
}
.inputText{
	margin-bottom: 5px;
    background: white !important;
    border-radius: 5px;
}
.mybutton{
margin-top: 20px !important;
}

.title{
font-size: 25px;
font-synthesis:
letter-spacing: 0px !important;
}
.steps h2{
font-size: 50px !important;
text-align: center;
}
.steps h5{
font-size: 25px !important;
    font-family: SecondFont;
}
.form1{

padding-top: 0px !important;
margin-top: 10px;
}
.headImage{
width: 15% !important;
}
.checkList h1{
font-size: 50px;
font-weight: normal;
}
.checkList h2{
font-size: 25px;
}
.priceCol{
border-right: 1px solid gray;
border-bottom-right-radius: 15px;
}
.plan{
font-size: 23px;
}
.box {
background: white;
padding: 12px;
}
.aboutText{
width: 80%;
margin: 0px auto !important;
}
.aboutList {
width: 78%;
margin: 0px auto !important;
margin-bottom: 50px !important;
}
.team{
background-color: #081F35 !important;
background-image: url(../../images/starfield.png) !important;
color: white;
}
.teamImage{
width: 195px !important;
height: 195px;
margin: 0px auto;
border-radius: 100px;
border:10px solid white;
}
.contact{
background-color: #081F35 !important;
background-image: url(../../images/starfield.png) !important;
color: white;
}
.inputs{
margin-top: 20px;
background: white !important;
border-radius: 10px;
color: black !important;
}
.contact textarea{
height: 200px;
}
.sendButton{
background-color: #1E1E4C !important;
margin-top: 20px;
padding: 5px !important;
}
.ineedva{
	text-align: left !important;
    width: 600px;
    margin: 0px auto;
}
.ineedjob{
text-align: left !important;
}
ul.icons {
cursor: default;
list-style: none;
padding-left: 0;
}
.fa.fa-facebook{
background-color: #39599f;

}
.fa.fa-google-plus {
background-color: #c91e1f;

}
.fa.fa-linkedin {
background-color: #31516a;

}
.fa-5 {
font-size: 5em !important;
}
.rounded{
  	border-radius: 0px 10px 10px 0px;
    color: #ffffff !important;
    display: inline-block;
    height: 3.25em;
    line-height: 3.25em !important;
    text-align: center;
    margin-top: 10px;
    width: 11.25em;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    border-bottom: 10px solid transparent;
    border-left: 10px solid White;
}
.square{
border-radius: 20%;
color: #ffffff !important;
display: inline-block;
height: 1.25em;
line-height: 1.25em !important;
text-align: center;
width: 1.25em;
text-decoration: none;
border-bottom: none;
position: relative;
}
.footer {
padding: 4em 0;
color: #fff;
background: #222833;
}
.footer .major h2 {
font-size: 2em;
color: #FFF;
}
.footer .major .byline {
font-size: 1.1em;
}
.footer .copyright {
margin-top: 3em;
padding-top: 3em;
border-top: 1px solid;
border-color: rgba(192, 192, 192, 0.15);
text-align: center;
color: inherit;
}
.footer a {
color: inherit;
text-decoration: none;
}
.md-datepicker-calendar-pane {
width: 342px !important;
}
#skel-layers-inactiveWrapper{
	height: 0px !important;
}

table th{
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}

table td{
	border-bottom: 1px solid gray;
	padding: 5px;
	font-weight: bold; 
}

.showButton{
	float: right;
	background-color: #1E1E4C !important;
	padding: 5px !important;
}
#viewDetails{
	font-size: 20px;
	line-height: 50px;
}

#viewDetails ul{
	width: 80%;
	margin: 0px auto;
	margin-bottom: 50px;
}

#needVa{
	margin-bottom: 100px;
}
.textImage{
										
    width: 644px;

}
#nav{
	background: rgba(40,39,40, 0.5);
}
.navright{
	text-align: right;
	margin-right: 25px !important;
	padding: 10px;

}
.vlogo{
	float: left;
    font-size: 38px;
    font-family: logofont;
    font-weight: bold;
    color: white;
    margin-left: 100px;
}
.vimage{
	width: 55px;
    margin-top: 8px;
}

.font1{
	font-family: FirstFont;
}
.font2{
	font-family: SecondFont;
    font-size: 45px;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 35px;

}
.visionmage{
	width: 200px;
}
.visionheader{
	text-align: center;
}
.visiontitle{
	text-align: center;
	font-family: logofont;
	font-size: 35px;
	color: #B9B9B9;
}
.visionspan{
	width: 660px;
    margin: 0px auto;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    font-family: SecondFont;
    padding-bottom: 20px;
    /*border-bottom: 2px solid #E4E4E4;*/
}
.visionhr{
	border: 1px solid #E4E4E4;
    width: 300px;
}
.spantitle{
	font-family: FirstFont;
}
.helptitle{
	color: #3C7FF0;
	font-family: logofont;
	    text-align: center;
}
.helptext{
	font-family: SecondFont;
    font-size: 20px;
}
.freetrial{
	 margin-top: 15px;
    color: #FEC445;
    font-family: logofont;
}
.firstclient{
	font-family: ForthFont;
}
.leftline{
	border-left: 1px solid #E4E4E4;
}
.startsection{
	margin-top: 20px;
    text-align: center;
}
.getstarted{
	font-size: 18px !important;
    padding: 5px !important;
    border: 2px solid #57C9F4 !important;
    background: white !important;
    color: #57C9F4 !important;
    font-family: FirstFont;
}
.staffname{
	font-weight: bold;
}
.helpimage{
	width: 90px !important;
}
.clientimage{
	height: 300px;
    width: 300px !important;
    border-radius: 300px !important;
    border: solid #EEEEEE;
}
.virabout{
	width: 90%;
	margin: 0px auto !important;
}
.abouttitle{
	font-family: logofont;
	font-size: 35px;
	color: #B9B9B9;
	line-height: 40px;
}
.aboutspan{
	    font-size: 25px;
    margin-top: 20px;
    line-height: 35px;
    font-family: SecondFont;
}
.aboutimage{
	    width: 320px !important;
}
.needbutton{
	background: white !important;
    color: #6C9FF3 !important;
    font-size: 20px !important;
     margin-top: 30px;
}
.needbutton:hover{
	background:#6C9FF3 !important;
    color:  white !important;
}
.activated{
	background:#6C9FF3 !important;
    color:  white !important;
    border: 1px solid #65656E !important;
}
.needtitle{
	margin-bottom: -50px;
}
.formcolumn{
	padding: 5px !important;
}
.mymodal{
	width: 58% !important;
	background-color: #E1E1E1 !important;
}
.needicon{
	width: 27px;
    float: left;
    margin-right: 10px;
}
.navlist:hover{
    background-color: #3B7FF0;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
}
.mylist{
    text-align: center;
}
.aboutText h2{
    font-family: SecondFont;
}
.mytitulo{
    font-family: FirstFont;
}




@font-face {
    font-family: logofont;
    src: url(../Neue/HaasGrotDisp-75Bold.otf);
}

@font-face {
    font-family: ForthFont;
    src: url(../Neue/HaasGrotDisp-36ThinItalic.otf);
}

@font-face {
    font-family: SecondFont;
    src: url(../Adobe/AGARAMONDPRO-REGULAR.OTF);
}

@font-face {
    font-family: ThirdFont;
    src: url(../Neue/HaasGrotDisp-55Roman.otf);
}

@font-face {
    font-family: FirstFont;
    src: url(../Adobe/AGARAMONDPRO-BOLDITALIC.OTF);
}
