<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%=@message[:name]%>, <%= @message[:email] %></h2>
    <h3>
      <%=@message[:body]%>
    </h3>
  </body>
</html>