<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%=@message[:name]%>, you have a message from Virtualahan</h2>
    <h3>
      <%=@message[:body]%>
    </h3>
  </body>
</html>