<!DOCTYPE html>
<html ng-app="virtualahan">
	<head>
		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<title>Virtualahan</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<%= yield %>
		<div class="footer">
			<div class="container">
				<!-- Lists -->
				<div class="row">
					<a href="" to="/home"><h3 class=""><img class="vimage" src="../images/virtualahan-logo-white.png"> Virtualahan</h3></a>
					
				</div>
				<div class="row">
				<section class="3u">All Right Reserved 2016</section>
	
					<section class="2u">
						<a href="" to="/about"><h5>ABOUT</h5></a>
					</section>
					<section class="2u">
						<a href="" to="/contact"><h5>CONTACT US</h5></a>
					</section>
					<section class="2u">
						<a href=""><h5>PRIVACY POLICY</h5></a>
					</section>
					<section class="3u">
						<a href=""><h5>TERMS AND CONDITION</h5></a>
					</section>
			
				
			</div>
			<!-- Copyright -->
			
		</div>
	</div>
</body>
</html>